.bg{
    --background: #F7F7F7 !important;
}

.cartText{
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    font-family: "Open Sans";
    color: #1F272E;
}

.item{
   // margin-left: 10px;
 //   margin-right: 10px;
    //--background: #fafafa;
    border-radius: 12px !important;  
    box-shadow: 0px 0px;
    .productImg{
        width: 140px;
     //   height: 140px;
        border-radius: 12px;
        border: 5px white solid;
    }
    .productText{
        text-align: center;
        font-weight: bold;
        font-size: 14px;
        font-family: "Open Sans";
        margin-top: 0.5em;
        margin-left: 0.5em;
        color: #1F272E;
    }
    .productSubText{
        text-align: center;
        font-weight: 500;
        font-size: 12px;
        font-family: "Open Sans";
        margin-left: 10px;
        margin-top: 5px !important;
        color: #828282;
        text-transform: capitalize;
    }
    .productPrice{
        text-align: center;
        font-weight: bold;
        font-size: 14px;
        font-family: "Open Sans";
        margin-top: 0.5em;
        margin-left: 0.5em;
        color: #006466;
    }
    .productNumberText{
        text-align: center;
        font-weight: 500;
        font-size: 15px;
        font-family: "Open Sans";
        margin-left: 10px;
        margin-top: 5px !important;
        color: #006466;
      //  text-transform: capitalize;
        font-weight: bolder;
    }
    .card-container{
        display: flex !important;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        margin-top: 1em;
    }
    .numberProduct{
        display: flex !important;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;    
    }

} 
.end{
    margin-right: 0.5em;
    display: flex;
    border-radius: 25px;
    background: #006466;
    color: #2E3A59;
    .button-native{
    padding-inline: 0em !important; 
    }
    .optionEnd{
        height: 40px;
        display: flex;
        align-items: center;
    }
    .color{
        color: #2E3A59;
    }
    .option{
        color: #FFF;
    }
 
}     
ion-item-sliding{
    display: flex;
    justify-content: center;
    padding: 10px;
}
ion-item-options{
    align-items: center;
.start{
    width: 40px;
    height: 40px;
    margin-left: 0.5em;
    border-radius: 12px;
    background: #EB5757;
}

ion-footer{
    position: fixed;
    bottom: 0;
}
}
.checkout{
    padding-left: 10px;
    color: #9d9da1;
    font-size: 17px;
}
.checkout2{
    padding-left: 10px;
    color: #006466;
    font-size: 17px;
}
.prices{
    padding-right: 10px;
}
.total{
    color: #1F272E;
    font-size: 17px;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 20px;
}
.total1{
    padding-left: 10px;
    color: #1F272E;
    font-size: 17px;
    padding-right: 10px;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 20px;
}

.footer-md::before{
    background-image :none !important
}
ion-footer ion-toolbar:first-of-type{
    box-shadow: 0px -10px 20px 0px rgb(0 0 0 / 6%) !important;
   // box-shadow: none 
}
.item{
    --padding-start: 0 !important;
}

.adress{
    ion-item{
        --padding-start: 5px !important;
    }
    ion-card-header{
      
    padding: 10px !important;  
    }

    box-shadow: none;
    .names{
        display: flex;
        flex-direction: column;
        .adress-sub-name{
            text-align: center;
            display: flex;
            font-size: 14px;
            font-weight: 500;
            font-family: "Open Sans";
            color: #888888;
            }
  .adress-name{
    text-align: center;
    display: flex;
    font-size: 17px;
    font-weight: bold;
    font-family: "Open Sans";
    color: #1F272E;
    }
    }
  
.map-icon{
    background: #F7F7F7;
    padding: 5px;
    border-radius: 7px;
    height: 35px;
    width: 35px;  
    margin-inline-end: 10px; 
}

.icon-refresh{
    padding: 5px;
    height: 35px;
    width: 35px;  
    margin-inline-end: 10px; 
}
ion-checkbox{
    height: 16px;
    width: 16px;
  
    --checkmark-color: #ffffff;
    --background-checked: #2f3a59;
    --border-color: #2f3a59;
    --border-color-checked: #2f3a59;
  }
  .form-check-input:checked {
    background-color: #2f3a59;
  }
  .barre{
    width: 100%;
    height: 2px;
    background: #f7f7f7;

  }
  .content{
       display: block;
    margin: 20px;
    text-align: center; 
  }


}
.btn-to-checkout{
    text-align: center;
    height: 60px;
    display: flex;
    border-radius: 12px;
    width: -webkit-fill-available;
    bottom: 0;
    justify-content: center;
    align-items: center;
    ion-button{
        --background: #006466;
        --background-activated: #006466;
        margin-right: 0px;
        margin-left: 0px;
        width: 90%;
    }
}

.btn-to-payment{
    width: -webkit-fill-available;
    text-align: center;
    background: #e9ecef;
    height: 60px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    ion-button{
        width: 90%;
        --background: #006466;
        --background-activated: #006466;
        display: block;
      
    }
}

.btn-to-method{
    width: -webkit-fill-available;
    text-align: center;
    background: #e9ecef;
    height: 60px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    ion-button{
        width: -webkit-fill-available;
        --background: #006466;
        --background-activated: #006466;
        display: block;
      
    }
}

.pay{
    padding: 10px;
    box-shadow: none;
    margin-top: 10px;
    margin-bottom: 15px;
    img{
        height: 32px;
        width: 32px;
        margin: 10px;
    }
    ion-checkbox{
        height: 16px;
        width: 16px;
      
        --checkmark-color: #ffffff;
        --background-checked: #2f3a59;
        --border-color: #2f3a59;
        --border-color-checked: #2f3a59;
      }
}
.pay-title{
    font-weight: bold;
    font-size: 17px;
    font-family: "Open Sans";
    color: #1F272E;
    margin-top: 5%;
    margin-left: 26px;
}




.pay-input{
  //  width: 90%;
  --padding-top: 0px !important;
  --padding-bottom: 0 !important;
  display: flex;
  background: #ffffff;
  font-size: 17px;
  font-family: "Open Sans";
  border-radius: 10px;
  height: 50px;
}
//ion-footer{margin-bottom: 70px}

.showAll{
    margin-bottom: 300px;
}

.backgr{
    background: #f7f7f7;
}
.cardInput{
    border-radius: 6px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-right: 5%;
    margin-left: 5%;
    flex-direction: column;
}
.payInputImg{
    margin-left: 15px;
    margin-right: 15px;
}

.inputInline{
    display: flex!important;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}
ion-modal{
    margin-top: 50% !important;
    margin-right: 10% !important;
    margin-bottom: 50% !important;
    margin-left: 10% !important;
    border-radius: 12px;
}
ion-modal::part(backdrop) {
    //  background: rgba(209, 213, 219);
      opacity: 1;
    }

.msg{
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    text-align: center;
    font-size: 15px;
    font-family: "Open Sans";
    color: #888888;
}
.msgTy{
    font-weight: bold;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-family: "Open Sans";
    color: #1F272E;
}
.msgBtn{
    --background: #38972e1c;
    color: #006466;
    width: 50%;
    --background-activated: #e9f4e8;
    display: block;
    margin: auto;
}
.noClothes{
    display: block;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    font-family: "Open Sans";
    color: #1F272E;
    margin-top: 13% !important;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 0px rgb(0 0 0 / 22%);
    border: 1px rgb(0 0 0 / 13%) solid;
    margin-right: 5%;
    margin-left: 5%;
}