.bestReview{
    width: 50px;
    height: 30px;
    font-size: 10px;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    color: white;
    font-style: italic;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    background-color: goldenrod;
    box-shadow: 1px 1px 0px #999, 2px 2px 0px #999;
}
.bestPrice{
    width: 45px;
    height: 30px;
    font-size: 10px;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    color: white;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:rgb(58, 148, 175);
    box-shadow: 1px 1px 0px #999, 2px 2px 0px #999,
    
}
.cloth-item{
    margin : 0px;
    text-align: -webkit-center;
    .stat{
        margin-top: 7px;
        ion-col{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
.clothImg{
 min-width: 170px;
 min-height: 170px;
    
}
ion-card-content{
.ProductName{
    text-align: center;
    color: #1F272E;
    font-weight: bold;
    font-size: 15px;
    font-family: "Open Sans";
    font-style: normal;
    line-height: 22px;
}
.ProductPrice{
    text-align: center;
    color: #006466;
    font-weight: 600;
    font-size: 0.9em;
    font-family: "Open Sans";
    font-style: normal;
    line-height: 22px;
}
.clothRating{
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    .rateSVG{
color: #130F26;
    }
    .rateText{
        color: #000;
    }
}
}
.img-container{
    height: 170px;
    width: 170px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}