ion-card{
    margin-top:-4%;
}
.alertDate{
    margin-left: 75%;
    margin-top: 10%;
    color: #006466;
    font-size: 15px;
}
.noNotificationIcon{
    font-size: 50px;
    text-align: center;
    color: rgba(128, 128, 128, 0.466);
}
.noNotificationText{
    color: rgba(128, 128, 128, 0.466);
    margin-top: 50%
}

.go-back-button{
   margin-bottom: 6px;
   margin-right: auto;
   margin-left: auto;
    width: 90%;
    display: block;
    --background:#006466;
    --background-activated:#006466;
  }

  .notFound{
    margin-top: 50%;
  }