.bg{
        --background: #F7F7F7;
        --padding-bottom: 100px;
        z-index: 100;
    }



ion-card{
    margin: 5%;
box-shadow: none;
    .ProfileImg{
    padding: 7px;
    border-radius: 20px;
    width: 100px;
    flex-shrink: 0;
 //   min-width: 100%;
 //   min-height: 100%;
    object-fit: cover;
    height: 100px;
    }
    .ProfileIcon{

    }
    .ProfileName{
        display: flex!important;
        align-items: center;
        p{
            font-size: 22px;
    font-weight: bold;
    color: #000;
    font-family: "Open Sans";
    
        }
    }
    .options{
        display: flex!important;
        align-items: center;
        ion-icon{
            color: #006466;
            width: 25px;
            height: 25px;
        }
        img{
            width: 25px;
            height: 25px;
        }
    }
}
    .bar{
    display: block!important;
    margin: auto
    }
    .details-password{
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 8px 20px 0px rgb(0 0 0 / 6%) !important;
        border-radius: 10px;
        height: 50px;
        background: #ffffff;
        margin: 1em;
        --placeholder-opacity:0.5 !important;
        --color: #212F45 !important;
        font-family: "Open Sans";
        font-size: 16px;
    }
    .details{
        display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0px 8px 20px 0px rgb(0 0 0 / 6%) !important;
    border-radius: 10px;
    height: 50px;
    background: #ffffff;
    margin: 1em;
ion-col{
/*    
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 15px;*/
} 
ion-icon{
    color: #006466;
    width: 24px;
    height: 24px;
}
    ion-input{
    --placeholder-opacity:1;
    --color: #212F45 !important;
    font-family: "Open Sans";
    font-size: 16px;
    }
    }
    .details-header{
        --color: #212F45 !important;
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: bold;
        margin-top: 1em;
        margin-left: 1em;
    }
    .details-list{
        --color: #212F45 !important;
        font-family: "Open Sans";
        font-size: 16px;
     //   font-weight: bold;
    }


    .wardrobeImg{
        position:absolute; 
        width:325px;
        height: 527px; 
        left:30px; 
        top:160px
    }
    
    .editButton{
        --ion-color-fav: #006466;
        --background:var(--ion-color-fav);
        --background-activated:var(--ion-color-fav);
        margin-left: 75%;
        margin-top:13%;
        
    }
    .btn-images{
        display: flex;
        flex-wrap: nowrap;
    }

    .submitButton{
        --ion-color-fav: #006466;
        --background: var(--ion-color-fav);
        display: block;
        margin: auto;
        --background-activated: var(--ion-color-fav)
    }
    .imageUpload{
        text-align:center;
        margin-top: 20%;
    }
        
    input[type=file] {
        display: none;
    }
    .input{
        width: 80%;
    }
    .custom-file-upload {
        width: 34.797px;
        color: white;
        width: 145px;
        text-align: center;
        border-radius: 12px;
        height: 45px;
        background: #006466;
        display: block;
        margin-top: 15px;
        margin-right: 15px;
        margin-left: 15px;
        cursor: pointer;
    }
    .img-label{
        padding-top: 13px;
    }
    .add-picture{
        position: sticky;
        height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 8px 20px 0px rgb(0 0 0 / 6%) !important;
    border-radius: 10px;
    background: #ffffff;
    margin: 1em;
    flex-direction: column;
    }
    .img-default-container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        input[type=file] {
            display: none;
        }
        .input{
            flex-shrink: 0;
            min-width: 100%;
            min-height: 100%
        }
    }
    .card-content-ios{
        background: #136466 !important;
    }
    .gender{
        margin: 1em;
        box-shadow: 0px 8px 20px 0px rgb(0 0 0 / 6%) !important;
        border-radius: 10px;
        height: 50px;
    }
    ion-accordion-group{
        margin-left: 1em;
        margin-right: 1em;
        ion-accordion{
            border-radius: 10px;
            background: #ffffff00;
            box-shadow: 0px 8px 20px 0px rgb(0 0 0 / 6%) !important;
         //   border: 1px #ece9f1 solid;
            margin-bottom: 10px
        }
    }
 
    ion-icon{
        width: 24px;
        height: 24px;
    }
   
    .saveChangesBtn{
        width: 90%;
        display: block;
        margin: auto;
    }

    .ImgContaire{
        position: relative;
        width: 100px;
    }
  
    .modifyImg{
        position: absolute;
        bottom: 0;
        background: #006466;
        text-align: center;
        margin: auto;
        display: flex;
        right: 0;
        height: 30px;
        border: 4px #ffffff solid;
        width: 30px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        
        .modifyImgIcon{
            height: 20px;
            width: 20px;
            color: #fff;
        }
    }
  