
ion-content{
//  --background :#F5F6F7 !important;
}

ion-select{
  background: rgba(0, 0, 0, 0.08);
  padding: 10px;
  border-radius: 12px;
  width: 100%;
}





.buttons{

  ion-icon{
 //   padding-right: 7px;
  }
}
.edit-btn{
  margin-right: 20px;
  --border-radius: 50px !important;
  --background: #136466;
  height: 35px;
  font-family: "Open Sans";
  font-size: 17px;

}
.edit-container{
//   height: 45px;  
  }

.svgImg{
  animation: scrolling 1s normal forwards cubic-bezier(0.68, -0.55, 0.27, 1.55);

padding: 10%;

}

@keyframes scrolling {
  from { margin-top: 0%;
    margin-bottom: 10%;
  }
  to {
    margin-top: 10%;
    margin-bottom: 10%;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    box-shadow: 0px 20px 20px 0px rgb(0 0 0 / 8%);}
}

.wardrobeImg{
    position:absolute; 
    width:325px;
    height: 527px; 
    left:30px; 
    top:160px
}

.editButton{
    --ion-color-fav: #006466;
    --background:var(--ion-color-fav);
    --background-activated:var(--ion-color-fav);
    margin-left: 75%;
    margin-top:13%;
    
}
.description{
  display: flex;
  flex-direction: column !important;
.name{
  justify-content: center;
  font-weight: 600;
  font-size: 18px;
  color: #006466;
  font-family: "Open sans";
}
.date{
  justify-content: center;
  font-weight: 500;
  font-size: 12px;
  color: #212F45;
  font-family: "Open sans";
}
}

ion-checkbox{
  height: 20px;
  width: 20px;

  --checkmark-color: #ffffff;
  --background-checked: #2f3a59;
  --border-color: #2f3a59;
  --border-color-checked: #2f3a59;
}
.form-check-input:checked {
  background-color: #2f3a59;
}
/*
.submitButton{
    --ion-color-fav: #006466;
    --background:var(--ion-color-fav);
    display: block;
    margin: auto;
    --background-activated:var(--ion-color-fav);
margin-left: 15px;
margin-right: 15px;
padding: 5px;
}*/
.mode{
  
  margin: 1em;
  box-shadow: 0px 8px 20px 0px rgb(0 0 0 / 6%) !important;
  border-radius: 10px;
  height: 40px;
}

.divSubmit{
 // position: absolute;
 // bottom: 0;
 // width: 100%; 
.submitButton{
 
    --ion-color-fav: #000000;
    --background: #ffffff;
    display: block;
    --background-activated: #ffffff;
    border-radius: 12px;
 //   padding: 5px;
    font-size: 17px;
    margin-right: 20px;
    height: 45px;
    margin-top: 5%;
    font-weight: 500;
    margin-left: 20px;
//    border: 1px #212529 solid;
    color: #ffffff;
    margin-bottom: 80px;

}

}
.imageUpload{
    text-align:center;


}
.imageContainer{
  box-shadow: 0px 20px 20px 0px rgb(0 0 0 / 8%);
}

input[type=file] {
 // display: none;
}
.input{
  height: 500px;
  object-fit: cover;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
//  

  margin: 0;
 // width: 90%;
  margin: auto;
  display: block;
  margin-top: 1.5rem;
  border-radius: 12px;
  animation: animate 0.6s;
 // animation: scaling 1s;
}
@keyframes animate {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  .edit-container{
    animation: fade 1s;
  }
  @keyframes fade {
    from {display: flex;}
    to {display: none;}
  }
  @keyframes scaling {
    from{margin-top: 1.5rem}
    to { margin-top: 0rem}
  }
.custom-file-upload {
 //   width: 34.797px;
 //   color: white;
 //   width: 145px;
//    text-align: center;
//    border-radius: 12px;
//    height: 45px;
//    background: #006466;
//    display: block;
  //  margin-top: 15px;
  //  margin-right: 15px;
  //  margin-left: 15px;
  cursor: pointer;
  background: #136466;
  font-family: "Open Sans";
  height: 45px;
//  margin-right: 20px;
  color: white;
  margin-bottom: 10px;
  border-radius: 12px !important;
 // margin-left: 20px;


    ion-icon , img{
        width: 24px;
        height: 45px;
        margin-left: 15px;
        margin-right: 15px;
    }
}
.img-label{
  //  padding-top: 13px;
}



/***************************************************
 * Generated by SVG Artista on 7/27/2022, 2:13:57 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

 @-webkit-keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 961.1207275390625px;
    stroke-dasharray: 961.1207275390625px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 961.1207275390625px;
  }
}

@keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 961.1207275390625px;
    stroke-dasharray: 961.1207275390625px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 961.1207275390625px;
  }
}

@-webkit-keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-1 {
  -webkit-animation: animate-svg-stroke-1 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both,
                       animate-svg-fill-1 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s both;
          animation: animate-svg-stroke-1 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both,
               animate-svg-fill-1 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s both;
}

@-webkit-keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 119.0090103149414px;
    stroke-dasharray: 119.0090103149414px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 119.0090103149414px;
  }
}

@keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 119.0090103149414px;
    stroke-dasharray: 119.0090103149414px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 119.0090103149414px;
  }
}

.svg-elem-2 {
  -webkit-animation: animate-svg-stroke-2 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s both,
                       animate-svg-fill-2 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s both;
          animation: animate-svg-stroke-2 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s both,
               animate-svg-fill-2 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s both;
}

@-webkit-keyframes animate-svg-stroke-3 {
  0% {
    stroke-dashoffset: 569.70556640625px;
    stroke-dasharray: 569.70556640625px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 569.70556640625px;
  }
}

@keyframes animate-svg-stroke-3 {
  0% {
    stroke-dashoffset: 569.70556640625px;
    stroke-dasharray: 569.70556640625px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 569.70556640625px;
  }
}

.svg-elem-3 {
  -webkit-animation: animate-svg-stroke-3 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s both,
                       animate-svg-fill-3 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1s both;
          animation: animate-svg-stroke-3 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s both,
               animate-svg-fill-3 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1s both;
}
.edit-img{
  height: 20px;
  margin-right: 10px;
  width: 20px;
}

.search-title{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 600;
  font-size: 17px;
  font-family: "open sans";
}
.item-img{
border-radius: 8px;
}

.return-btn{
  --ion-color-fav: #000000;
  --background: #ffffff;
  display: block;
  --background-activated: #ffffff;
  border-radius: 12px;
 //padding: 5px;
  font-size: 17px;
 // margin-right: 20px;
  height: 45px;
  margin-bottom: 80px;
  font-weight: 500;
  margin-left: 20px;
//  border: 1px #212529 solid;
  color: #130f26;
}
.return{
  display: block;
  margin: 1rem;
  justify-content: space-evenly;
  align-content: space-around;
  width: 50%;
  background: #136466;
  color: white;
  border-radius: 8px;

  ion-icon{
    padding-right: 10px;
  }
}
.submitButton{
 
 // --ion-color-fav: #000000;
 // --background: #ffffff;
//  display: block;
//  --background-activated: #ffffff;
//  border-radius: 12px;
 //padding: 5px;
 // font-size: 17px;
//  margin-right: 20px;
//  height: 45px;
 // margin-bottom: 80px;
//  font-weight: 500;
 // margin-left: 20px;
//  border: 1px #212529 solid;
//  color: #130f26;

display: block;
border-radius: 12px;
font-size: 17px;
margin-right: 20px;
height: 45px;
font-weight: 500;
background: #136466;
color: #ffffff;

}

.detected-Items{
  animation: animate 0.6s;
}



.search-container{
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #fff;
  animation: animate 0.6s;
  padding-bottom: 1px;
  padding-top: 5px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  animation: animate 0.6s;

  .cloths{

    flex-wrap: wrap;
    align-items: flex-start;
    ion-col{
        display: flex;
        justify-content: center;
    //    padding: 0 !important;
        margin-bottom: 10px;
    }
    .cloth-items{
   //   animation: animate 0.6s;
    }
}

}



ion-accordion-group > ion-accordion:last-of-type ion-item[slot=header] {
  --border-width: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  --background: #F7F7F7;
  font-family: "Open Sans";
  font-size: 17px;
  line-height: 22px;
}   

ion-accordion-group > ion-accordion{
  background: #f5f6f7;
}

