
ion-content {
    --background: transparent;
}
 ion-header{
    position: initial;
 }
ion-footer {
    margin-bottom: 10px;
}
 
ion-slides {
    height: 100%;
}
.dismiss{
    bottom: 0;
    margin-bottom: 3%;
    margin-left: 5%;
    margin-right: 5%;
    position: absolute;
    display: block;
    border-radius: 12px;
    text-align: center;
    width: 90%;
    align-items: center;
    justify-content: center;
    background: #136466;
}

.form-icons{
    height: 28px;
    width: 28px;
  }
  .item-src{
      width: 90%;
      border-radius: 20px;
      display: block;
      margin: auto;
  }

ion-item{
    margin-top: 10px;
    width: 90%;
    display: block;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 6%);
    border-radius: 10px;
    height: 50px;
}
.features{
    display: flex;
    margin-left: 5%;
    justify-content: flex-start;
    flex-wrap: wrap;
ion-chip{
    background: #0064662e;
    border-radius: 8px;
    color: #212529;
}
}

.addToWardrobe{
    display: block;
    position: absolute;
    margin-left: 5%;
    width: 90%;
    margin-right: 5%;
    bottom: 3%;
    --background: #006466;
}

