.image{
    position: relative;
    margin-top:15%;
    width: 70%;
}
.radioButton{
    --color-checked: #006466;
}
ion-card{
    margin-left:-5%; width: 340px;
}
.submitButton{
    margin-bottom: 20%;
    --ion-color-fav: #006466;
    --background:var(--ion-color-fav);
    --background-activated:var(--ion-color-fav);
    
}
.details{
    margin-top: 7%;
}
.ml-10{
    margin-left: 10px;
}

.d-flex{
    display: flex;
}

.align-items-center{
    align-items: center;
}
.toggle{
    position: relative; margin-top: 5%; margin-left: 15%;
}
ion-toggle {
    --background: #000;
    --background-checked: #006466;
  
    --handle-background: white;
    --handle-background-checked: white;
  }

ion-grid{
    position:relative; top:65%;left:10%
}
.detectedClothImg{
    width: 80px;
    height: 80px;
}