.head{
  margin-top: 3px;
  background: #ffffff;
    align-items: center;
  //  margin-top: 7%;
    position: sticky;
    top: 0;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    z-index: 10;


  
  //  margin-top: 10px;
 //  align-items: center;
  //  margin-top: 7%;
    .category{
        text-align: center;
        display: flex;
        align-items: center;
        margin-left: 1em;
        justify-content: flex-start;
    }
    .profile_notifications{
        display: flex;
        text-align: end;
        justify-content: flex-end;
        align-items: center;
     //   margin-left: 3%;
        padding-right: 1em;
        .profile{
          object-fit: cover;
          width: 50px;
          height: 50px;
          box-shadow: 0px 0px 8px #6c757d69;
          margin-left: 7px;
          border-radius: 50%;
           // border: 3px #136466b8 solid;
          //  box-shadow: 0px 0px 6px 1px #1364660
        }
    }
}
.notification{
  width: 24px;
  height: 24px;
}
.active-notif{
    color: #ff4d07;
}

ion-icon{
width: 22px;
height: 22px;
//color: #006466;
color: #000a;
}


ion-menu-button {
  //  --color:#000;
  //  --background: #fff;
  }
  
  #container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  ion-content ion-toolbar {
    --background: transparent;
  }

  .header-ios ion-toolbar:last-of-type {
    --border-width: 0 0 0px;
}
.toolbar-background{
  background : #fff ;
  --background: #ff000000;
}
.toolbar-container {
  --background: #ff000000;
}
.side-menu{
  display: flex;
  justify-content: center;
}
