ion-content{
 //   --background: #fff;
}

.topImg{
//  position: relative;
  z-index: 10;
 // left: 40%;
  height: 190px !important;
  width: 190px !important;
 // height: 233px !important;
 // width: 233px !important;
}
.bottomImg{
//  position: relative;
//  right: 55%;

  height: 190px !important;
  width: 190px !important;
}
.footwearImg{
  height: 170px !important;
  width: 170px !important;
  position: absolute;
  left: 0%;
  top: 90px;
}
.bagImg{
  width: 100px !important;
  right: -20%;
  height: 100px !important;
  top: 60px;
  position: relative;
  transform: rotate(5deg);
}
.trash{
  
    font-size: 24px;
}
ion-card{
  //  margin-left: 6%;
  //  width: 155px;
//    height: 310px;
margin: 0%;
}
.addText{
    color: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    font-size: 17px;
}

.addIcon{
    font-size: 50px;
    margin-top: 10%;
    color: #f8f9fa;
}
.addOutfit{
  //  background: #136466;

}
.margin{
    padding-bottom: 5%;
}
.outfit-slide{
  margin: 20px !important;
    border-radius: 12px;
    background: #ECE9F1 !important;

    .slide{
    width: 320px;
    display: flex;
    justify-content: space-around;
    }
}
.addOutfit{
  display: block;
  margin: auto;
  --background: rgb(19 100 102);
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}


.outfit-item{
  width: -webkit-fill-available !important;
 padding: 5%;  
}

.group-name{
    display: flex;
    font-family: "Open Sans";
    font-style: normal;
    padding-left: 7%;
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
}
.group-container {
  height: -webkit-fill-available !important;
  width: -webkit-fill-available !important;
   display: flex;
    flex-wrap: nowrap;
    padding: 5%; 
    flex-direction: row;
    overflow: scroll;
}

.see-all{
  color: #136466;
}

.s-rec{
  width: 160px;
  background: #ECE9F1 !important;
  margin: 10px;
}
.clothsItems{
  margin-right: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
  border-radius: 12px;
  overflow: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  box-shadow: 0px 0px 20px rgb(0 0 0 / 12%);
  .column{
    max-height: 200px;
    background: rgb(0 0 0 / 6%);
  }

  img{
    margin: 0 !important;
   // border-radius: 12px;
    min-height: 200px;
    object-fit: cover;
  }
}

.ion-modal-options {
  --min-width: 250px;
  --height: fit-content;
  padding: 5%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

  ion-row{
      height: 50px;
      width: 100%;
      margin: auto;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 17px;
      line-height: 22px;
  }
}

.add-g{
  --background: white;
  box-shadow: 0px 0px 20px #7070702b;
  color: #130f26;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 100px;
  img{
padding: 10px;
background: #0064661a;
border-radius: 50%;
  }
  img:hover{
      background: rgb(0 0 0 / 13%);

          }
  ion-label{
      display: flex !important;
align-items: center  !important;
font-family: "Open Sans"  !important;
font-style: normal  !important;
font-weight: 600  !important;
font-size: 17px  !important;
line-height: 22px  !important;
  }

}



.card{
  margin: 10px;
  border: none;
}
.nameContainer{
  --padding-start : 10px !important;
  .outfitName{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    }
}
