.signUpButton{
    padding-right: 5%;
    padding-left: 5%;
    --background: #3d3933;
    --background-activated: #3d3933;
    text-align: center;
    margin-top: 35px;
}

.terms{
    font-size: 16px;
    margin-left: 2%;
}
.signUpForm{
    margin-top: 15%;
    margin-left: 5%;
    margin-right: 5%;
    .icons{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: space-around;
    }
 
}
.signUpDetails{
    margin-top: 5%;
    display: flex;
    align-items: center;
    //justify-content: center;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 6%);
    border-radius: 10px;
    height: 50px;
}
.checkbox{
    display: flex;
    align-items: center;
    margin-top: 20px;
    ion-checkbox{
        height: 0.8em;
        width: 0.8em;
    }
}
.pageTitle{
    margin-left:5%; 
    margin-top: 20%; 
.welcome{
   
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 34px;
        line-height: 41px;
   
}
.welcome2{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
    color: #006466;
}
.pageSubtitle{
    font-weight: 600;
    color: #212F45;
    margin-top: 15px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 22px;
    margin-top: 20px;
}

}
.bottomCaption{
    text-align: center;
   // margin-top: 25px;
  // position: fixed;
  margin-top: 7%;
  display: block;
   bottom: 3%;
   width: 100%;
}
.isInvalid{
box-shadow: 0px 0px 5px #ff0000bf;
}

.isInvalidText{
    color: #f8f9fa;
 //   height: 50px;
    padding: 8px;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 6%);
    border-radius: 10px;
    margin-top: 5%;
    background: #f44336;
}
.wrongIcon{
    width: 30px;
    height: 30px;
    color: #f44336;
}
.correctIcon{
    width: 30px;
    height: 30px;
    color: #006466;
}
