ion-content{
//    --background: #F5F6F7;
}

    .add-g{
        --background: white;
        box-shadow: 0px 0px 20px #7070702b;
        color: #130f26;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        margin-bottom: 20px;
        margin-top: 20px;
        border-radius: 100px;
        img{
    padding: 10px;
    background: #0064661a;
    border-radius: 50%;
        }
        img:hover{
            background: rgb(0 0 0 / 13%);

                }
        ion-label{
            display: flex;
    align-items: center;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
        }

    }


.searchbar-search-icon { display:none !important; width:0 !important; height:0 !important; }

.searchbar-left-aligned.sc-ion-searchbar-ios-h .searchbar-input.sc-ion-searchbar-ios{
    padding-left: 10px !important;
    color: #828282;
    --placeholder-opacity: 1;
}

.search{
    // margin-top: 5%; //new
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 4px 10px rgb(0 0 0 / 7%);
     display: flex!important;
     flex-wrap: nowrap;
     justify-content: space-between;
     align-items: center;
    
     margin-right: 1em;
     height: 50px;
     margin-left: 1em;
 
     .searchbar-button{
      //   display: inherit;
   //   display: flex;
  //    justify-content: flex-end;
  display: flex;
  //justify-content: space-around;
  justify-content: space-evenly;
         .filter{
          //   transform: scale(1.4);
          height: 24px !important;
          width: 24px !important;
         }
     }
 }
.cancel-icon{
    color: rgb(19, 15, 38);
    padding: 5px;
    background: #0064661a;
    border-radius: 50%;
}

 ion-searchbar{
    --padding-top: 0px !important;
    --padding-bottom: 0px !important;
    --background: #fff;
    --padding-inline: 0;
    padding-left: 0 !important;
    padding-right: 0px !important;
    --border-radius: 6px;
    height: 50px;
    
}
.add-btn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    --background: white;
    margin: 5%;
    box-shadow: 0px 0px 20px #7070702b;
    color: #130f26;
    border-radius: 12px;
 //   width: 70%;

}
.sub-add-btn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    --background: white;
    box-shadow: 0px 0px 20px #7070702b;
    color: #130f26;
    border-radius: 12px;
}


.group-name{
    display: flex;
    font-family: "Open Sans";
    font-style: normal;
    padding-left: 7%;
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
}
.group-icon{
    width: 24px;
    height: 24px;
}
.group-container{
    display: flex;
    flex-direction: row;
    overflow: scroll;
    --bs-gutter-x: 0 !important;
    flex-wrap: nowrap;
.imgs{
  //  object-fit: contain;
  border-radius: 25px;
  min-height: 225px;
  background: rgba(0, 0, 0, 0.02);
  margin-right: 3%;
  margin-left: 3%;
  object-fit: cover;
  width: 150px;
}
}
.nativeItems{
   padding-bottom: 15px;
 //   margin-bottom: 80px; 
}

.del-container{
    display: flex;
    flex-direction: row;
    --bs-gutter-x: 0 !important;
    flex-wrap: wrap;
    .imgs{
   //     object-fit: contain;
        border-radius: 25px;
        height: 150px;
        background: rgb(0 0 0 / 2%);
        margin-right: 3%;
        margin-left: 3%;
        width: 150px;
    }
}
ion-icon{
    height: 24px;
    width: 24px;
}




.ion-modal-options {
    --min-width: 250px;
    --height: fit-content;
    padding: 5%;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

    ion-row{
        height: 50px;
        width: 100%;
        margin: auto;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 17px;
        line-height: 22px;
    }
  }
  
  ion-modal::part(backdrop) {
  //  background: rgba(209, 213, 219);
    opacity: 1;
  }
  
  ion-modal ion-toolbar {
    --background: rgb(14 116 144);
  //  --color: white;
  }


  .inputName-container{
    margin: 5%;
    background: white;
    border-radius: 20px;
   // padding: 10px;
    box-shadow: 0px 0px 20px #7070702b;
ion-label{
    display: flex;
    font-family: "Open Sans";
    font-style: normal;
    font-size: 15px;
    line-height: 22px;
  }
.inputName{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 6%);
    border-radius: 10px;
    background: white;

   .native-input.sc-ion-input-ios{
       margin: 5% !important;
   }
  } 
}

.wardrobeAdd{
    animation-duration: 0.6s;
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.74, 0.05);
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: animate;
}

@keyframes animate {
    from {opacity: 0;}
    to {opacity: 1;}
}



.current-page{
  //  padding-bottom: 20%;
}
/*.addGroup{

   .box-icon{
height: 100px;
width: 100px;
} 
}*/
